.button {
	padding: 12px 26px;
	font-weight: 700;
	font-size: 14px;

	background-color: #ffa501;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button--ghost {
	background: none;
	box-shadow: none;
}

.button:hover {
	transition: 0.3s;
	background-color: #ffae19;
}

.hamburger {
	position: fixed;

	top: 20px;
	right: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: rotate(180deg);

	width: 36px;
	height: 20px;

	background: none;
}

.hamburger > span {
	position: relative;

	width: 100%;
	height: 3px;

	background: rgba(21, 24, 18, 1);
}

.hamburger > span::before {
	content: '';

	position: absolute;

	top: -8px;
	left: 0;

	width: 80%;
	height: 3px;

	background: rgba(21, 24, 18, 1);
}

.hamburger > span::after {
	content: '';

	position: absolute;

	bottom: -8px;
	left: 0;

	width: 80%;
	height: 3px;

	background: rgba(21, 24, 18, 1);
}

.close {
	position: absolute;

	top: 25px;
	right: 25px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;

	background: none;
}

.close > span {
	position: relative;

	width: 100%;
	height: 3px;
}

.close > span::before {
	content: '';

	position: absolute;

	top: 0px;
	left: 0;

	width: 100%;
	height: 3px;

	transform: rotate(45deg);

	background: rgba(21, 24, 18, 1);
}

.close > span::after {
	content: '';

	position: absolute;

	bottom: 0px;
	left: 0;

	width: 100%;
	height: 3px;

	transform: rotate(-45deg);

	background: rgba(21, 24, 18, 1);
}
